.header {
    text-align: center;
    color: azure;
    background-color: rgba(22, 28, 43, 0.96);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    text-decoration: none !important;
    color: white;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.separator {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}